{{> menu}}
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-8">
                {{> artmark-image }}
            </div>
            
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <p class="title">{{artmark.title}}</p>
                    <br>
                    <p class="subtitle">{{artmark.description}}</p>
                    <p class="subtitle">Artist: {{artmark.artist}}</p>
                </article>
            </div>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child notification is-warning">
                <p class="title">{{artmark.location}}</p>
                <p class="subtitle">{{artmark.latitude}}, {{artmark.longitude}}</p>
            </article>
        </div>
    </div>
</section>
