{{> menu }}

<table class="table is fullwidth">
    <thead>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Medium</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{latitude}}
            </td>
            <td>
                {{longitude}}
            </td>
            <td>
                {{title}}
            </td>
            <td>
                {{artist}}
            </td>
            <td>
                {{medium}}
            </td>
        </tr>
    </tbody>
</table>